.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #989fae;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gradient_bg {
    /* ff 3.6+ */
    background:-moz-linear-gradient(330deg, rgba(0, 3, 255, 1) 0%, rgba(119, 7, 187, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(330deg, rgba(0, 3, 255, 1) 0%, rgba(119, 7, 187, 1) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(330deg, rgba(0, 3, 255, 1) 0%, rgba(119, 7, 187, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0003FF', endColorstr='#7707BB', GradientType=1 );

    /* ie 10+ */
    background:-ms-linear-gradient(330deg, rgba(0, 3, 255, 1) 0%, rgba(119, 7, 187, 1) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(330deg, rgba(0, 3, 255, 1) 0%, rgba(119, 7, 187, 1) 100%);
}

.navbar button {
  padding: 0.25rem .5rem;
  color: #fff;
  background: #001d7e;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;
}

.App-header button {
  padding: .20rem 1rem;
  color: #fff;
  background: #001d7e;
  font-weight: 500;
  font-size: 18px;
  line-height: 45px;
  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;
}